---
layout: default
---
  
  
    <section class="page-header">
      <h1 class="project-name" style="color:white;">{{site.course_title_long}}</h1>
      <h2 class="project-tagline">A Spring 2016 Data Science Connector Course </h2>
      <h3 style="color:white;">CCN: {{site.course_no}}| {{site.instructor}} | {{site.meeting_time}} | {{site.location}} | Units: {{site.units}}</h3>
      <!--<a href="http://data8.org/" class="btn">Data8.org</a>
      <a href="http://databears.berkeley.edu/" class="btn">Databears</a>
      <a href="http://www.ischool.berkeley.edu/courses/i88a" class="btn">Course Page</a>
      <a href="https://bcourses.berkeley.edu/courses/1412776" class="btn">bCourses</a>
      <a href="page.html" class="btn">JL</a> -->

    </section>

    <section class="main-content">
      
      <h2 class="title" style="color:#32324e;">Announcements</h2>
      
      <ul>
        {% for item in site.announcements %}
        <li>{{item}}</li>
        {% endfor %}
      </ul>
  
    
      <!-- <h4>Module 3 - Ethical Toolbox I: Research and applied ethics</h4>
      <a href="http://www.hhs.gov/ohrp/humansubjects/guidance/belmont.html" class= class="quick-list-item">The Belmont Report</a>
      <a href="http://culturedigitally.org/2014/07/when-science- customer-service-and-human-subjects-research-collide-now-what/" class="quick-list-item">Gray</a>
      <a href="google.com" class="quick-list-item">Short Writing Assignment #1</a> -->
      
      
      
    <p></p>
    <p></p>
    <p></p>
    
    <hr>
    
    
    
    
    

<table class="tg" style="undefined;table-layout: fixed; width: 870px">
<colgroup>
<col style="width: 89px">
<col style="width: 270px">
<col style="width: 306px">
<col style="width: 205px">
</colgroup>
  <tr>
    <th class="tg-2zhz" colspan="4">Calendar</th>
  </tr>
  <tr>
    <td class="tg-dn63">Date</td>
    <td class="tg-dn63">Module</td>
    <td class="tg-dn63">Reading</td>
    <td class="tg-dn63">Assignment</td>
  </tr>
      {% for item in site.schedule %}
        {% include schedule_entry.html item = item %}
      {% endfor %}
   
</table>
