

<header class="site-header">

  <div class="wrapper">

    <div class = "nav_container">
      <ul>
          <li ><a href="http://dataconnect.berkeley.edu/">DataConnect</a></li>
          <li ><a href="{{site.baseurl}}">Home</a></li>
          <li ><a href="https://data-8.appspot.com/sp16/course">Data8.org</a></li>
          <li ><a href="http://data.berkeley.edu">Data.Berkeley</a></li>
          <li ><a href="{{site.course_page}}">Course Page</a></li>
          <li ><a href="{{site.bcourse_url}}">bCourses</a></li>
          <li ><a href="{{site.baseurl}}pdf/syllabus.pdf">Syllabus</a></li>
      </ul>
    </div>
  </div>

</header>
